@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'theme.scss';
@import 'toggle.scss';
@import 'fontello.css';

body, input {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--font-size);
    caret-color: var(--text-color);
}

body {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
}

.small-text {
    font-size: var(--small-font-size);
}

.main-container {
    max-width: 420px;
    max-height: 600px;
    flex-shrink: 1;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:not(:first-child) {
            margin-top: 15px;
        }

        &.input {
            flex-flow: column;

            label {
                margin-bottom: 5px;
            }
        }

        &.main {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: var(--big-font-size);
            flex-flow: column;
            
            label {
                font-size: var(--font-size);
            }
        }

        .mute-toggle {
            position: relative;

            .mute-toggle-input {
                opacity: 0;
                position: absolute;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .icon::before {
                content: '\e804';
            }

            .mute-toggle-input:checked {
                ~ .icon::before {
                    content: '\e803'
                }
            }
        }

        &.buttons {
            border-radius: .25rem;
            box-shadow: 0 0 0 1pt var(--dark-color);

            button {
                flex: 1 1 50%;
                height: 50px;
                background: none;
                border: none;
                padding: 0;
                color: var(--text-color);
                cursor: pointer;

                &:hover {
                    background: rgba($color: #333, $alpha: 0.1);
                }

                &:focus {
                    outline: none;
                }
            }

            hr {
                border: 1px var(--dark-color) solid;
                height: 100%;
            }
        }
    }
}